<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title></title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>    
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1>Tabela Periódica</h1>
                <h2>{{ data.nome}}</h2>
            </header>
            <div class="w3-container">
                <p><b>Símbolo:</b>
                    {{ data.dados[0].simb.value }}
                </p>
                <p><b>Número Atómico:</b>
                    {{ data.dados[0].num.value }}
                </p>
                <p><b>Grupo:</b>
                    {% set group_name = data.dados[0].grupo.value.split('#')[-1] %}
                    <a href="/grupos/{{group_name}}">{{ data.dados[0].grupo.value.split('#')[-1] }}</a>
                </p>
                <p><b>Peso atómico:</b>
                    {% if data.dados[0].aw %} {{ data.dados[0].aw.value }} {% else %} - {% endif %}
                </p>
                <p><b>Bloco:</b>
                    {% if data.dados[0].b %} {{ data.dados[0].b.value.split('#')[-1] }} {% else %} - {% endif %}
                </p>
                <p><b>CasRegistry ID:</b>
                    {% if data.dados[0].cr %} {{ data.dados[0].cr.value }} {% else %} - {% endif %}
                </p>
                <p><b>Classificação:</b>
                    {% if data.dados[0].c %} {{ data.dados[0].c.value.split('#')[-1] }} {% else %} - {% endif %}
                </p>
                <p><b>Cor:</b>
                    {% if data.dados[0].col %} {{ data.dados[0].col.value }} {% else %} - {% endif %}
                </p>
                <p><b>Período:</b>
                    {% if data.dados[0].period %} {{ data.dados[0].period.value.split('#')[-1] }} {% else %} - {% endif %}
                </p>
                <p><b>Estado standard:</b>
                    {% if data.dados[0].ss %} {{ data.dados[0].ss.value.split('#')[-1] }} {% else %} - {% endif %}
                </p>
            </div>
            <div>
                <h6 style="text-align: right;"><a href="/">Página Inicial</a> | <a href="/elementos">Elementos</a> | <a href="/grupos">Grupos</a> &emsp;</h6>
            </div>
            <footer class="w3-container w3-purple w3-bottom">
                <h5 style="text-align: center;">Gerado por RPCW2024 em {{ data.data }}</h5>
            </footer>
        </div>
    </body>
</html>